################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CensusAnalytics/OpenDataLoader/OpenDataLoader/obj
/CensusAnalytics/OpenDataLoader/ODL.Common/obj
/CensusAnalytics/OpenDataLoader/.vs/OpenDataLoader
/CensusAnalytics/OpenDataLoader/ODL.Common/bin/Debug/netstandard2.0
