################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CensusAnalytics/OpenDataLoader/OpenDataLoader/obj
/CensusAnalytics/OpenDataLoader/ODL.Common/obj
/CensusAnalytics/OpenDataLoader/.vs/OpenDataLoader
/CensusAnalytics/OpenDataLoader/ODL.Common/bin
/CensusAnalytics/OpenDataLoader/.vs
/CensusAnalytics/OpenDataLoader/OpenDataLoader/bin
/CensusAnalytics/OpenDataLoader/ConsoleApp1/obj
/CensusAnalytics/OpenDataLoader/ConsoleApp1/bin
